<!DOCTYPE html>
<html lang="en" @(ViewBag.NgApp != null ? new HtmlString("ng-app=\"" + ViewBag.NgApp + "\"") : new HtmlString(string.Empty))>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - @Strings.ApplicationName</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink(Strings.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        @*<ul class="nav navbar-nav">
              <li>@Html.ActionLink("Home", "Index", "Home")</li>
              <li>@Html.ActionLink("About", "About", "Home")</li>
              <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
          </ul>*@
        @Html.Partial("_LoginPartial")
      </div>
    </div>
  </div>
  <div class="@(ViewBag.FullHeightBody != null ? "full-height-body" : "container body-content")">
    @RenderBody()
    <div class="row">
      <footer class="col-xs-12">
        <p>&copy; @DateTime.Now.Year - This project is open source. View it on <a href="https://github.com/kcesar/MissionLine">GitHub</a></p>
      </footer>
    </div>
  </div>

  @Scripts.Render("~/bundles/core")
  <script src="@Url.Content("~/signalr/hubs")"></script>
  <script type="text/javascript">
    window.appRoot = '@Url.Content("~/")';
    $(document).ready(function () {
      if (window.hasHubs) $.connection.hub.start();
    });
  </script>
  @RenderSection("modals", required: false)
  @RenderSection("scripts", required: false)
</body>
</html>
